{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content %}
<h1 align = "center">Sign Up</h1>
<br>
<div class="sign-up-form">
    <form method="POST" action="">
        
        <div class="form-group">
            <label for="email">Email Address</label>
            <input 
                type="text" 
                name="email" 
                id="email" 
                class="form-control" 
                placeholder="Enter Email">
    
            <label for="username">User Name</label>
            <input 
                type="text" 
                name="username" 
                id="username" 
                class="form-control" 
                placeholder="Enter UserName">
            
            <label for="password1">Password Address</label>
            <input 
                type="password" 
                name="password1" 
                id="password1" 
                class="form-control" 
                placeholder="Enter Password">
    
            <label for="password2">Password Again</label>
            <input 
                type="password" 
                name="password2" 
                id="password2" 
                class="form-control" 
                placeholder="Enter Password Again">
            <br>
            <div align = "center">
                <button class="btn btn-outline-success" type="submit"><h4>Submit</h4></button>
            </div>
        </div>
    </form>
    <footer>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
          </svg>   ~~    Made by Ngoc Anh   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg> Van Chien   ~~   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
          </svg></p>
    </footer>
</div>

{% endblock %}